h1,
h2,
h3,
h4,
h5,
figure,
p,
ol,
ul {
    margin: 0;
}

ol[role="list"],
ul[role="list"] {
    list-style: none;
    padding-inline: 0;
}

h1,
h2,
h3,
h4,
h5 {
    font-size: inherit;
    font-weight: inherit;
}

* {
    box-sizing: border-box;
}

img {
    display: block;
    max-inline-size: 100%;
}

html {
    overflow-x: hidden;
    font-family: "Inter", serif;
    scroll-behavior: smooth;
}

:root {
    --light-color: #f5f5f7;
    --dark-color: #221f20;
    --container-padding-inline: 13%;
    --footer-padding-inline: 10%;

    @media screen and (max-width: 768px) {
        --container-padding-inline: 6%;
        --footer-padding-inline: 6%;
    }

    @media screen and (max-width: 576px) {
        --container-padding-inline: 15px;
        --footer-padding-inline: 15px;
    }
}

.container {
    padding: 0 var(--container-padding-inline);
}

.title {
    color: var(--dark-color);
    font-size: 40px;
    font-weight: 400;
    text-align: center;

    span {
        position: relative;
    }

    span::after {
        content: "";
        display: block;
        position: absolute;
        bottom: -1;
        right: 0;
        width: 75px;
        height: 2px;
        background-color: #000;
    }

    @media screen and (max-width: 768px) {
        font-size: 36px;
    }

    @media screen and (max-width: 576px) {
        font-size: 24px;
    }
}

.promo {
    position: relative;
    min-height: 100vh;
    background: url(../img/main.jpg) center center/cover no-repeat;
    padding-top: 75px;

    @media screen and (max-width: 768px) {
        & {
            background-image: url("../img/Bg.jpg");
        }
    }

    @media screen and (max-width: 576px) {
        min-height: 500px;
        padding-top: 50px;
    }
}

.promo__title {
    color: var(--light-color, rgb(245, 245, 247));
    font-size: 60px;
    font-weight: 400;
    text-transform: uppercase;

    @media screen and (max-width: 768px) {
        font-size: 48px;
    }

    @media screen and (max-width: 576px) {
        font-size: 26px;
    }
}

.promo__subtitle {
    color: var(--light-color, rgb(245, 245, 247));
    font-size: 32px;
    font-weight: 100;
    margin-top: 124px;

    @media screen and (max-width: 768px) {
        & {
            margin-top: 80px;
        }
    }

    @media screen and (max-width: 576px) {
        margin-top: 30px;
        font-size: 16px;
    }
}

.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    padding: 3px 10px;
    margin-top: 20px;
    width: 160px;
    min-height: 38px;
    box-sizing: border-box;
    border: 1px solid var(--light-color, rgb(245, 245, 247));
    background: rgba(217, 217, 217, 0);
    color: var(--light-color, rgb(245, 245, 247));
    font-size: 16px;
    font-weight: 100;
    cursor: pointer;
    transition: all 0.3s ease-out;

    @media screen and (max-width: 576px) {
        font-size: 14px;
        width: 120px;
        min-height: 30px;
    }
}

.btn:hover {
    font-weight: 500;
    box-shadow: 5px 5px 10px 0px rgba(255, 255, 255, 0.62);
}

.promo__address {
    position: relative;
    margin-top: 100px;
    color: var(--light-color, #f5f5f7);
    font-size: 16px;
    font-style: normal;
    font-weight: 100;
    line-height: normal;

    address {
        font-style: normal;
    }

    a {
        color: inherit;
        text-decoration: none;
    }

    &::before {
        content: "";
        display: block;
        position: absolute;
        left: -45px;
        top: -17px;
        width: 40px;
        height: 49px;
        background: url("../icons/Arrow.svg") center center / cover no-repeat;
    }

    @media screen and (max-width: 768px) {
        &::before {
            left: -40px;
        }

        & {
            margin-top: 80px;
        }
    }

    @media screen and (max-width: 750px) {
        &::before {
            display: none;
        }
    }

    @media screen and (max-width: 576px) {
        margin-top: 233px;
    }
}

.keywords {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0 360px;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 20px;
    background: linear-gradient(180.00deg,
            rgba(255, 255, 255, 0.04),
            rgba(255, 255, 255, 0.12) 50%,
            rgba(255, 255, 255, 0.2) 100%);

    li {
        color: var(--light-color, rgb(245, 245, 247));
        font-size: 10px;
        font-weight: 100;
        list-style: none;
        cursor: pointer;
    }

    @media screen and (max-width: 1440px) {
        & {
            padding: 0 20px;
        }
    }

    @media screen and (max-width: 768px) {
        & li:nth-last-child(-n + 6) {
            display: none;
        }
    }

    @media screen and (max-width: 576px) {
        & {
            margin-top: 10px;
        }

        & li:nth-last-child(-n + 11) {
            display: none;
        }
    }
}

.about {
    padding-top: 80px;
    background-color: var(--light-color, rgb(245, 245, 247));

    @media screen and (max-width: 375px) {
        padding-top: 50px;
    }
}

.about__title {
    color: var(--dark-color, rgb(34, 31, 32));
    font-style: italic;
    font-size: 12px;
    font-weight: 400;
}

.about__text {
    width: 1100px;
    color: var(--dark-color, rgb(34, 31, 32));
    margin-top: 20px;
    font-size: 40px;
    font-weight: 400;

    span {
        color: #a5a5a5;
    }

    @media screen and (max-width: 1440px) {
        width: 100%;
        font-size: 34px;
    }

    @media screen and (max-width: 992px) {
        font-size: 28px;
    }

    @media screen and (max-width: 768px) {
        font-size: 24px;
    }

    @media screen and (max-width: 576px) {
        font-size: 15px;
    }
}

.services {
    display: flex;
    margin-top: 80px;

    @media screen and (max-width: 1440px) {
        margin-top: 40px;
        flex-wrap: wrap;
    }

    @media screen and (max-width: 375px) {
        margin-top: 20px;
    }
}

.services__items {
    width: 50%;

    ul {
        margin-top: 20px;
        color: rgb(34, 31, 32);
        font-size: 16px;
        font-weight: 400;
        padding: 0;
        list-style-type: none;
    }

    li {
        position: relative;
        margin-top: 10px;

        &:first-child::before {
            content: "";
            display: block;
            position: absolute;
            width: 15px;
            height: 15px;
            left: -30px;
            top: 2px;
            background: url("../icons/Camera_second_bd.svg") center center / cover no-repeat;
        }

        &:nth-child(3)::before {
            content: "";
            display: block;
            position: absolute;
            width: 15px;
            height: 15px;
            left: -30px;
            top: 2px;
            background: url("../icons/Edit_second_bd.svg") center center / cover no-repeat;
        }
    }

    @media screen and (max-width: 1440px) {
        width: 100%;
    }

    @media screen and (max-width: 576px) {
        font-size: 14px;
    }
}

.services__text {
    width: 50%;
    color: var(--dark-color, rgb(34, 31, 32));
    font-size: 20px;
    font-weight: 400;

    @media screen and (max-width: 1440px) {
        margin-top: 40px;
        width: 100%;
    }

    @media screen and (max-width: 576px) {
        margin-top: 20px;
        font-size: 12px;
    }
}

.services__items-subtitle {
    color: rgb(34, 31, 32);
    font-style: italic;
    font-size: 16px;
    font-weight: 400;

    @media screen and (max-width: 375px) {
        font-size: 12px;
    }
}

.works {
    padding-top: 80px;
    background-color: var(--light-color, rgb(245, 245, 247));

    @media screen and (max-width: 768px) {
        padding-top: 50px;
    }
}

.wokrs__grid {
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr) 1.5fr;
    column-gap: 30px;
    row-gap: 50px;

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    @media screen and (max-width: 768px) {
        margin-top: 40px;
        column-gap: 20px;
        row-gap: 30px;
    }

    @media screen and (max-width: 576px) {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(4, 1fr) 1.5fr;
        column-gap: 0px;
        row-gap: 30px;
    }
}

.grid {
    padding: 80px 0 80px 0;
    background-color: var(--light-color, rgb(245, 245, 247));
}

.grid__wrapper {
    margin-top: 53px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 30px;

    #tenement {
        height: 100%;
        grid-row: 1 / 3;
        grid-column: 4 / 5;
    }

    #sky {
        width: 100%;
        grid-row: 2 / 3;
        grid-column: 2 / 4;
    }

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    @media screen and (max-width: 1200px) {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(4, 1fr);
        gap: 30px 20px;

        #tenement {
            grid-row: 2 / 4;
            grid-column: 2 / 3;
        }

        #sky {
            grid-row: 4 / 5;
            grid-column: 1 / 3;
        }
    }

    @media screen and (max-width: 768px) {
        margin-top: 40px;
    }

    @media screen and (max-width: 576px) {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(3, 1fr) 2.1fr 1fr 0.5fr;
        row-gap: 20px;

        #tenement {
            grid-row: auto;
            grid-column: auto;
        }

        #sky {
            grid-row: auto;
            grid-column: auto;
        }
    }
}

.customers {
    padding-bottom: 100px;
    background-color: var(--light-color, rgb(245, 245, 247));

    @media screen and (max-width: 1200px) {
        padding-bottom: 50px;
    }
}

.customers__photo {
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;

    img {
        width: calc((100% - 90px) / 4);
    }

    @media screen and (max-width: 992px) {
        img {
            width: calc((100% - 80px) / 4);
        }
    }

    @media screen and (max-width: 768px) {
        margin-top: 40px;
    }

    @media screen and (max-width: 576px) {
        justify-content: space-between;
        margin-top: 30px;

        img {
            width: calc((100% - 36px) / 2);
        }
    }
}

.footer__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 88px var(--footer-padding-inline);
    background-color: #000;

    .footer__icons {
        padding-left: 0;
        display: flex;
        column-gap: 30px;
        list-style: none;

        li {
            box-sizing: border-box;
            border: 1px solid rgb(245, 245, 247);
            background: rgba(217, 217, 217, 0);
            width: 32px;
            height: 32px;

            a {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 100%;
                height: 100%;
                color: var(--light-color);
                text-decoration: none;

                img {
                    width: 22px;
                    height: 22px;
                }
            }
        }
    }

    .footer_text {
        color: var(--light-color, rgb(245, 245, 247));
        font-size: 20px;
        font-weight: 400;
    }

    .footer__number {
        color: var(--light-color, rgb(245, 245, 247));
        font-size: 20px;
        font-weight: 400;
        text-decoration: none;
        cursor: pointer;
    }

    @media screen and (max-width: 992px) {
        display: block;

        .footer_text {
            margin: 30px 0;
        }
    }

    @media screen and (max-width: 768px) {
        padding: 30px var(--footer-padding-inline) 40px var(--footer-padding-inline);
        .footer__number {
            font-size: 16px;
        }

        .footer_text {
            font-size: 16px;
        }
    }

    @media screen and (max-width: 576px) {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;

        .footer__icons {
            justify-content: center;
            order: 1;
        }

        .footer__number {
            margin-top: 30px;
            margin-bottom: 30px;
            order: 2;
            font-size: 16px;
        }

        .footer_text {
            margin: 0;
            font-size: 16px;
            order: 3;
        }
    }
}